[global]

[init]
    defaultBranch = main

[user]
    name = Eddie Kovsky
    email = ewk@edkovsky.org
    #signingkey = <gpg-key-id>

[core]
    editor = nvim
    abbrev = 12 # default 7 char abbreviations may collide
    pager = less # default is less
    whitespace = trailing-space,space-before-tab,-indent-with-non-tab,-cr-at-eol
    #template = ~/.gitmessage # commit message template

[format]
    signOff = True # enable --signoff for format-patch
    coverLetter = auto # generate a cover letter for multiple patches

# Change format of git-lg, git-show
# Usage: git show --format=fixes aa3bf2bd8f15
[pretty]
	fixes = Fixes: %h (\"%s\")

[alias]
    g = grep -P --break --heading --line-number
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    fp = format-patch --signoff --keep-subject # Do not strip/add [PATCH] from first line
    diff = diff --check # check if patch introduces whitespace errors

[credential]
    helper = cache --timeout=3600

[push]
    default = matching

[color]
    ui = auto

[grep]
    #extendRegexp = true # ignored when patternType is set
    lineNumber = true
    patternType = perl

[sendemail]
    from = Eddie Kovsky <ewk@edkovsky.org>
    smtpserver = "/usr/bin/msmtp"
    smtpencryption = tls
    chainreplyto = false # Default is false
    confirm = always #auto
	#suppress-cc = author, self
    suppressFrom = true

[gpg]
	program = gpg2

[commit]
    verbose = true # show full patch when editing the commit message

