#    Blank lines or lines starting with # are ignored.
#    Standard glob patterns work: *,?,[a-z]
#    You can end patterns with a forward slash (/) to specify a directory.
#    You can negate a pattern by starting it with an exclamation point (!).

*.DS_Store
*.bundle
*.tmproj
*.swp
*.mix
.DS_Store
.Trash/
.appletviewer
.autotest
.bundle/
.bundler/
.cups/
.dvdcss/
.emacs.d/auto-save-list/*
.emacs.d/elpa/*
.emacs.d/ac-comphist.dat
.emacs.d/ido.last
.filezilla/
.fontconfig/
.fonts/
.gem/
.mysql_history
.putty/
.redcar
.ri/
.scala_history
.sqlite_history
.ssh/
.subversion/
.tolb3755.bin
.viminfo
/tmp/*
db/*.sqlite3
doc/api
doc/app
log/*.log
tmp/**/*
tags
.vim/.netrwhist
.my-pwds.gpg
