[global]

[user]
	name = Eddie Kovsky
	email = ewk@edkovsky.org

[core]
	excludesfile = ~/.gitignore
	editor = gvim -f

[alias]
    g = grep -P --break --heading --line-number
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[credential]
	helper = cache --timeout=3600

[push]
	default = matching

[color]
	ui = true

[grep]
	extendRegexp = true
	lineNumber = true
