[global]

[user]
    name = Eddie Kovsky
    email = ewk@edkovsky.org
    #signingkey = <gpg-key-id>

[core]
    excludesfile = ~/.gitignore
    editor = gvim -f
    abbrev = 12 # default 7 char abbreviations may collide
    pager = less
    whitespace = trailing-space,space-before-tab,-indent-with-non-tab,-cr-at-eol

[format]
    signOff = True # enable --signoff for format-patch
    coverLetter = auto # generate a cover letter for multiple patches

[alias]
    g = grep -P --break --heading --line-number
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[credential]
    helper = cache --timeout=3600

[push]
    default = matching

[color]
    ui = true

[grep]
    #extendRegexp = true # ignored when patternType is set
    lineNumber = true
    patternType = perl

[merge]
    tool = gvimdiff
