*.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/tmp/*
doc/api
doc/app
*.swp
*.DS_Store
*.tmproj
!.*
.CFUserTextEncoding
.DS_Store
.Trash/
.appletviewer
.autotest
.bundle/
.bundler/
.cups/
.dvdcss/
.filezilla/
.fontconfig/
.fonts/
.gem/
.mysql_history
.putty/
.ri/
.scala_history
.sqlite_history
.ssh/
.subversion/
.tolb3755.bin
.redcar
.viminfo
.emacs.d/auto-save-list/*
