#    Blank lines or lines starting with # are ignored.
#    Standard glob patterns work: *,?,[a-z]
#    You can end patterns with a forward slash (/) to specify a directory.
#    You can negate a pattern by starting it with an exclamation point (!).

# File prefixes and suffixes
*.DS_Store
*.DS_Store
*.asc
*.bundle
*.mix
*.pyc
*.swp
*.tmproj
\#*
db/*.sqlite3

# Directories
.Trash/
.bundle/
.bundler/
.cups/
.dvdcss/
.emacs.d/auto-save-list/*
.emacs.d/elpa/*
.filezilla/
.fontconfig/
.fonts/
.gem/
.mutt/temp/
.putty/
.ri/
.ssh/
.subversion/
/tmp/

# Files
.appletviewer
.autotest
.emacs.d/ac-comphist.dat
.emacs.d/ido.last
.emacs.d/recentf
.mutt/mutt-headercache
.my-pwds.gpg
.mysql_history
.scala_history
.sqlite_history
.tolb3755.bin
.vim/.netrwhist
.viminfo
doc/api
doc/app
log/*.log
tags

